@tailwind base;
@tailwind components;
@tailwind utilities;


.text-gradient {
    background: linear-gradient(to right, #3f37c9, #4361ee, #4895ef); /* Your gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }